@model MisministrosCR_VERSION1.Models.Oferente;








<h4>Registro de oferentes</h4>
<div class="row" id="row" >
    <div class="col-md-12" >
        
        <form     asp-action="Registro">
            <div  style ="border:none"asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"> 
                    
                <label asp-for="OferenteId" class="control-label"></label>
                <input asp-for="OferenteId" class="form-control"  placeholder="Cedula"/>
                <span asp-validation-for="OferenteId"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre y apellidos" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"  placeholder="E-mail"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                 @Html.DropDownList("Ministerios",(List<SelectListItem>)ViewBag.Ministerios)
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" value ="En proceso" readonly/>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <h4 >Informacion Academica</h4>
            <table class="table" id="tablaC">
                <thead>

            <tr>
                <th> Grado Academico</th>
                <th>Centro Universitario</th>
                <th>Anio de titulacion </th>
                <th><button id="btnagregar"type="button" onclick="AgregarCampos_titulo(this)"style=" background-color:green">Agrega nuevo registro</button></th>
                </tr>

                </thead>
                         
                    @for (int j = 0;j <Model.titulos.Count;j++)
                {
                   
                    <tr>
                            <td>@Html.EditorFor(x=>x.titulos[j].GradoAcademico, new {htmlAddtributes= new{@class="form-control"}})
                            <span asp-validation-form="@Model.titulos[j].GradoAcademico" class="text-danger"></span>
                            </td>

                        <td>@Html.EditorFor(x=>x.titulos[j].CentroUniversitario,new{@htmlAttributes= new {@class="form-control"}})
                            <span  asp-validation-for="@Model.titulos[j].CentroUniversitario"class="text-danger"></span>
   
                        </td>
                        <td>@Html.EditorFor(x=>x.titulos[j].Anio_titulo,new{htmlAttributes=new{@class="form-control"} })
                        <span  asp-validation-for="@Model.titulos[j].Anio_titulo"class="text-danger"></span>
                        
                        </td>
                         <td>  <button id="btnremoveC-@j" type="button" class="btn btn-danger btn-sm visible"
                                    onclick="EliminarCamposFormacionAcademica(this)">
                                    Eliminar
                                </button>
                            </td>
                        
                        
                        </tr>

                    }

              

            </table>


            <table class="table" id="tbexplaboral">

                <h4>Experiencia Laboral</h4>
           <thead>

              <tr>
                <th> Nombre de la Empresa</th>
                <th>Anio Inicio</th>
                <th>Anio Final</th>
                        <th><button id="btnagregar" type="button" onclick="Agregar_Campos_Experiencia_Laboral(this)" style=" background-color:green">  Agrega nuevo registro</button></th>
                </tr>

                </thead>

                @for(var i =0;i<Model.list_Experiencia_laboral.Count;i++){
                   
                <tr>
                  <td>@Html.EditorFor(e=>e.list_Experiencia_laboral[i].Nombre_Empresa, new{htmlAttributes= new {@class="form-control"}})
                  <span asp-validation-for="@Model.list_Experiencia_laboral[i].Nombre_Empresa" class="text-danger"></span>

                        </td>
                  <td>@Html.EditorFor(e=>e.list_Experiencia_laboral[i].Anio_inicio, new{htmlAtributes=new {@class="form-control"} })

                      <span asp-validation-for="@Model.list_Experiencia_laboral[i].Anio_inicio" class="text-danger"></span>
                  
                  </td>
               
              
              <td>@Html.EditorFor(e=>e.list_Experiencia_laboral[i].Anio_fin,new {htmlAttributes= new{@class="form-control"}})
              
          <span asp-validation-for="@Model.list_Experiencia_laboral[i].Anio_inicio,class="text-danger"></span>
          </td>

                        <td>
                            <button id="btnremoveC-@i" type="button" class="btn btn-danger btn-sm visible"
                                    onclick="EliminarCamposExpeLaboral(this) ">
                                Eliminar
                            </button>
                        </td>
      
      </tr>
                }

            </table>
          

            <div class="form-group">
                <input type="submit" value="Agregar Registro" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="windown-modal">
     <div class="modal-dialog">
    <div class="modal-content" id="modal-container">
            <div class="modal-header"> 
                <h4>Modulo de Registro </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
      <div class="modal-body" id="t-body">

          <p>Llene cuidadosamente la informacion que se le solicita estimado usuario</p>



      </div>

            <div class="modal-footer">
                <button type="button" class="btn-success" data-bs-dismiss="modal" aria-label="holi"> Cerrar</button>
            </div>
    </div>
    
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


<script>

    $(document).ready(function () {
        $('#windown-modal').modal('show');
    });


</script>


<link style="stylesheet" href="~/css/site.css">
<script src="~/js/site.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}