@model MisministrosCR_VERSION1.Models.Oferente;
<label style{"border:none; text-align:center"}> Registro de Oferentes  </label>
<hr />
<div class="row" style="border:none">
    <div class="col-md-4" style="border:none">
        <form asp-action="Registro">
            <div  style ="border:none"asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                 @Html.DropDownList("Ministerios",(List<SelectListItem>)ViewBag.Ministerios)
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" value ="En proceso" readonly=faLse/>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <h4>Informacion Academica</h4>
            <table class="table" id="tabla">
                <<thead>

            <tr>
                <th> Grado Academico</th>
                <th>Centro Universitario</th>
                <th>Anio de titulacion </th>
                <th><button id="btnagregar"type="button" onclick="AgregarCampos_titulo(this)"style=" background-color:green">Agrega nuevo registro</button></th>
                </tr>

                </thead>
                         
                    @for (int j = 0;j <Model.titulos.Count;j++)
                    {
                        <tr>
                            <td>@Html.EditorFor(x=>x.titulos[j].GradoAcademico, new {htmlAddtributes= new{@class="form-control"}})</td>
                            <span asp-validation-form="@Model.titulos[j].GradoAcademico" class="text-danger"></span>
                       
                        <td>@Html.EditorFor(x=>x.titulos[j].CentroUniversitario,new{@htmlAttributes= new {@class="form-control"}})
                        
                        <span  asp-validation-for="@Model.titulos[j].CentroUniversitario"class="text-danger"></span>
                        
                        </td>
                        <td>@Html.EditorFor(x=>x.titulos[j].Anio_titulo,new{htmlAttributes=new{@class="form-control"} })
                        <span  asp-validation-for="@Model.titulos[j].Anio_titulo"class="text-danger"></span>
                        
                        </td>
                         <td>

                                <button id="btnremoveC-@j" type="button" class="btn btn-danger btn-sm visible"
                                    onclick="DeleteItem(this)">
                                    Eliminar
                                </button>
                            </td>
                        
                        
                        </tr>

                    }

              

            </table>

            <table class="table">
 <<thead>

            <tr>
                <th> Empresa</th>
                <th>Anio Inicio</th>
                <th>Anio Final</th>
                <th><button id="btnagregar"type="button" onclick="AgregarCampos_Experiencia(this)"style=" background-color:green">Agrega nuevo registro</button></th>
                </tr>

                </thead>

                @for(var j =0;j<Model.list_Experiencia_laboral.Count;j++){
                
                <tr>
                  <td>@Html.EditorFor(e=>e.list_Experiencia_laboral[j].Nombre_Empresa, new{htmlAttributes= new {@class="form-control"}})</td>
                  <span asp-validation-form="@Model.list_Experiencia_laboral[j].Nombre_Empresa" class="text-danger"></span>
                  <td>@Html.EditorFor(e=>e.list_Experiencia_laboral[j], new{htmlAtributes=new {@class="form-control"} })</td>
               
              
              <td>@Html.EditorFor(e=>e.list_Experiencia_laboral[j].Anio_inicio,new {htmlAttributes= new{@class="form-control"}})</td>
              
          <span asp-validation-form="@Model.list_Experiencia_laboral[j].Anio_inicio,class="form-control}"></span>
      
      
      
      </tr>
                }

            </table>
          
            <div class="form-group">
                <input type="submit" value="Agregar Registro" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<link style="stylesheet" href="~/css/site.css">
<script src="~/js/site.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}